<%= form_tag("/search", method: "post") do %>
  <p>
    <%= label_tag(:genre, "Search by genre:") %>
    <select name="genre">
      <% Show.available_genres.each do |genre| %>
        <option value="<%= genre %>"><%= genre %></option>
      <% end %>
    </select>
    <input type="datetime-local" name="start_date_time">
    <input type="datetime-local" name="end_date_time">
  </p>
  <p>
    <%= submit_tag("Search") %>
  </p>
<% end %>
