<h1>Decider New User Sign In</h1>
<%= form_for @user, url: {action: "create"} do |f| %>
	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.number_field :email, :placeholder => "e.g. foywilliams@gmail.com" %>
	<%= f.label :email, 'Email' %>
	<%= f.number_field :confirm_email, :placeholder => "Confirm email" %>
	<%= f.label :confirm_email, 'Confirm email' %>
	<%= f.text_field :password, :placeholder => "Create a password" %>
	<%= f.label :password, 'Create a password' %>
  <%= f.submit "Create" %>
<% end %>